@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comfortaa&family=Oswald&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;
}

* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 400;
}


.weatherApp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 3rem 4rem 3rem;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temp, .city-time, .weather {
    margin: 0 1em;
}

.city-time h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: o.2em;
}

.weather img {
    display: block;
    margin: 0.5em;
    width: 100%;
    height: 100%;
}

.brand {
    font-size: 30px;
}


/* properties of panel  */
.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2rem;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3rem;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #28e4d4;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #000;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    color: #fff;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.2em;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px solid #ccc;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .container, .panel {
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 15px;
    }
}




/* dynamic styling  */

/* day and clear weather */
.weatherApp1 {
    min-height: 100vh;
    background-image: url(/src/images/day/clear.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #e5ba92;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* night and clear weather */
.weatherApp2 {
    min-height: 100vh;
    background-image: url(/src/images/night/clear.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #181e27;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* day and cloudy weather */
.weatherApp3 {
    min-height: 100vh;
    background-image: url(/src/images/day/cloudy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit3 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #181e27;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* night and cloudy weather */

.weatherApp4 {
    min-height: 100vh;
    background-image: url(/src/images/night/cloudy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit4 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #181e27;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* day and rainy weather */
.weatherApp5 {
    min-height: 100vh;
    background-image: url(/src/images/day/rainy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit5 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #647d75;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* night and rainy weather */
.weatherApp6 {
    min-height: 100vh;
    background-image: url(/src/images/night/rainy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit6 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #325c80;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

/* day and snowy weather */
.weatherApp7 {
    min-height: 100vh;
    background-image: url(/src/images/day/snowy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit7 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #4d72aa;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}


/* night and snowy weather */
.weatherApp8 {
    min-height: 100vh;
    background-image: url(/src/images/night/snowy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.submit8 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}



/* default weather */
.defaultWeather {
    min-height: 100vh;
    background-image: url(/src/images/night/snowy.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    color: #fff;

    position: relative;
    transition: 500ms;
    opacity: 1;
}

.defaultWeather::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.defaultBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    border: none;
    outline: none;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}